<HTML>
<HEAD>
<TITLE> IIT CDC 2015 JavaScript </TITLE>
<script src="js/myjs.js"></script>
<link rel="stylesheet" type="text/css" href="css/mycss.css">
</HEAD>
<BODY>
<div>
<div id=container">
<center> <h1> JavaScript Exercises</h1></center>
<h2>Exercise 1 : Making Things Work</h2>
<p>Click the button to display an alert box:</p>

<button onclick="myFunction()">Try it</button>


<p>Click the button to demonstrate the prompt box.</p>

<button onclick="myFunction1()">Try it</button>

<p id="demo"></p>

<p>Writing functions for buttons</p>

<button onclick="myFunction2()">Try it</button>

<p id="demo"></p>

<HR/>
<h2> Exercise 2: Displaying Textbox Values</h2>

Type Here to display:

<input type="text" name="FirstName" id="textbox"><br/> 
<p id="demo"></p>
<input type="button" value="submit" onclick="showConfirmationDialog();" />

<HR/>
<h2>Exercise 3: Variables and Math</h2>
Value 1:
 <input type="text" name="val1" id="val1" ><br/> <br/>

Value 2:
 <input type="text" name="val2" id="val2" ><br/> <br/>
<p id="demo"></p>
Variation 1:<input type="button" value="submit" onclick="showMath();" />
Variation 2:<input type="button" value="submit" onclick="showMath2();" />
<p> Now Try to display the value on the console!</p>

<HR/>

<h2> More Math! </h2>
<p> Can you fill the functions to reflect the corresponding Math Function? </p>
Value 1:
 <input type="text" name="num1" id="num1" ><br/> <br/>

Value 2:
 <input type="text" name="num2" id="num2" ><br/> <br/>
<p id="demo"></p>  
<button onclick="showAdd()">+</button>
<button onclick="showSub()">-</button>
<button onclick="showMul()">x</button>
<button onclick="showDiv()">/</button>
<HR/>
<h2> Exercise 4: More on Textboxes</h2>
<p> No More Alerts! Displaying results in the same Form</p>

Value 1:
 <input type="text" name="numb1" id="numb1" ><br/> <br/>

Value 2:
 <input type="text" name="numb2" id="numb2" ><br/> <br/>
Answer:
 <input type="text" name="numb3" id="numb3" ><br/> <br/>
 <p id="demo"></p>
<button onclick="showAdd1()">+</button>
<button onclick="showSub1()">-</button>
<button onclick="showMul1()">x</button>
<button onclick="showDiv1()">/</button>
<br/>
<br/>
</div>
</div>

<center><h6> Created by Manju Muralidharan for IIT Computer Discovery Camp 2015</h6></center>
</BODY>
</HTML>