<HTML>
<HEAD>
<TITLE> IIT CDC 2015 JavaScript </TITLE>
<script src="js/myjs.js"></script>
<link rel="stylesheet" type="text/css" href="css/mycss.css">
</HEAD>
<BODY>
<div>
<div id=container">
<center> <h1> JavaScript Exercises</h1></center>
<h2>Exercise 5 : If - Then - Else</h2>
<p>Lets use 'IF-THEN' to make sure it is the lesser number is always subtracted from the greater number</p>
Value 1:
 <input type="text" name="val1" id="value1" ><br/> <br/>

Value 2:
 <input type="text" name="val2" id="value2" ><br/> <br/>
Answer:
 <input type="text" name="val2" id="value3" ><br/> <br/>
<p id="demo"></p>
<input type="button" value="submit" onclick="showIfThen();" />

<HR/>
<h2>Exercise 6 : Guess my number!</h2>
<p>Lets use 'IF-THEN' to guess the Number the computer is thinking of!</p>

What's your guess?
 <input type="text" name="guessNum" id="guessNum" ><br/> <br/>

<p id="demo"></p>
<input type="button" value="Check!" onclick="checkNum();" />

<HR/>
<h2>Exercise 7: More Form Elements </h2>
<p> Lets Greet some guests!</p>

Enter Name:
<input type="text" name="fname" id="fname" ><br/> <br/>
Select Gender:
Male:<input type="checkbox" id="male" name="gender">
Female:<input type="checkbox" id="female" name="gender">
<p id="demo"></p>
<button onclick="showGreet()">Greet the guest!</button>

<p> Lets add some more details. Now change greeting to "Mrs", if the lady is married.</p>

Enter Name:
<input type="text" name="fname" id="fname" ><br/> <br/>
Select Gender:
Male:<input type="checkbox" id="male" name="gender">
Female:<input type="checkbox" id="female" name="gender">
<br/>
Select Marital Status:
Single:<input type="checkbox" id="single" name="marital">
Married:<input type="checkbox" id="married" name="marital">
<p id="demo"></p>
<button onclick="showGreet2()">Greet the guest!</button>
<hr/>
<h2> Exercise 8: Nesting!</h3>
<p> Lets play Rock Paper Scissors!</p>
<p>Click the button to start playing!</p>

<button onclick="compare()">START</button>
<br/>

<h2> Exercise 9: Loops!</h3>
<p> Lets display all the odd Numbers between 1 to 10</p>
<p>Click the button to start!</p>

<button onclick="looper_odd()">START</button>
<br/>
<br/>
</div>
</div>
<center><h6> Created by Manju Muralidharan for IIT Computer Discovery Camp 2015</h6></center>
</BODY>
</HTML>